<!--<div class="block-area">
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h2 class="tile-title">电流线型图</h2>
                <div class="tile-config dropdown">
                    <a data-toggle="dropdown" href="" class="tooltips tile-menu" title="Options"></a>
                    <ul class="dropdown-menu pull-right text-right">
                        <li><a href="">Refresh</a></li>
                        <li><a href="">Settings</a></li>
                    </ul>
                </div>

                <div class="p-10">
                    <h5 class="text-center">总电流:<a id="currentBoradATotal"></a></h5>
                    <div id="divACurrentBoard" class="main-chart" style="height: 250px"></div>
                </div>
            </div>
        </div>
    </div>
</div>-->
